# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local database and sessions
streamer.db
*.session
*.session-journal

# Secrets
config.json

# Packages
*.zip
